::-moz-selection {
    color: COLOR;
    background: COLOR;
}

::selection {
    color: COLOR; 
    background: COLOR;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: COLOR;
	color: COLOR;
	font-family: FONT_STACK;
	font-size: 100%;
	font-weight: FONT_WEIGHT;
	line-height: 1.625;
}

b, strong {
	font-weight: FONT_WEIGHT;
}

i, em {
	font-style: italic;
}

.constrained {
	width: 90%;
	margin: 0 auto;
	max-width: 1600px;
	@include clearfix;
}
